<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Interior Design</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo+Black|Judson:400,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  	<body>
		<!--------------- Navigation Bar ------------------------->
		<div class="navbar" id="navigation">
		  <h1 style="font-family: 'Playfair Display';">Bougainvillea</h1>
		  <a href="Index.html#contact"><strong>Contact Us</strong></a>
		  <!--<a href="#products" class="drop"><strong>Products</strong></a>-->
		  <div class="dropdown">
			<button
			  class="dropbtn"
			  style="background-color: transparent !important;"
			>
			  <a
				href="Index.html#products"
				style="
				  font-family: 'Chivo', sans-serif;
				  font-size: 20px;
				  color: white;
				"
				onMouseOver="this.style.border='0px'"
			  >
				<strong>Products</strong>
			  </a>
			</button>
			<div class="dropdown-content">
			  <a href="Chairs.html"><strong>Chairs</strong></a>
			  <a href="Coffee Tables.html"><strong>Coffee Table</strong></a>
			  <a href="Bookshelves.html"><strong>Bookshelves</strong></a>
			  <a href="Sofas.html"><strong>Sofas</strong></a>
			</div>
		  </div>
		  <a href="Index.html#portfolio"><strong>Portfolio</strong></a>
		  <a href="Index.html#about"><strong>About</strong></a>
		  <a href="Index.html#home"><strong>Home</strong></a>
		</div>

		<!--------------- Main Body ------------------------->

		<!--------------- Chair Page (Hero Image) ------------------------->

		<div class="hero_sofa" id="home">
		  <div
			class="centered_sofa"
			style="
			  font-size: 100px;
			  border: 10px solid white;
			  color: white;
			  font-family: 'Playfair Display', serif !important;
			"
		  >
			Sofas
		  </div>
		  <!--<div class="scroll_down"><a href="#about" style="font-family: 'Chivo', sans-serif; color: white; font-size: 20px; text-decoration: none;"><strong>SCROLL DOWN</strong></a></div>-->
		  <div class="scroll_down">
			<a
			  href="#sofa"
			  style="
				font-family: 'Chivo', sans-serif;
				color: white;
				font-size: 20px;
				text-decoration: none;
			  "
			>
			  <img src="/Assets/scroll_down.png" alt="SCROLL DOWN" />
			</a>
		  </div>
		</div>
		
		<!--------------- Images ----------------------------------->
		
		<div class="main" style=" font-family: 'Chivo', sans-serif;" id="sofa">
			<div class="flex_container">
				<div>
				  <img id="myImg" class="myImg" src="/Assets/Sofa/downtown_sofa1.jpg" alt="Downtown Sofa" width="500px">
					<!-- The Modal -->
					<div id="myModal" class="modal">
					  <span class="close">&times;</span>
					  <img class="modal-content" id="img01">
					  <div id="caption"></div>
					</div>
				</div>
				<div style="padding-left: 5%">
				  <h1>Downtown&nbsp;Sofa</h1>
				</div>
			</div>	
			
			<div class="flex_container">
				<div>
				  <img id="myImg" class="myImg" src="/Assets/Sofa/lailand.jpg" alt="Lailand" width="500px">
					<!-- The Modal -->
					<div id="myModal" class="modal">
					  <span class="close">&times;</span>
					  <img class="modal-content" id="img01">
					  <div id="caption"></div>
					</div>
				</div>
				<div style="padding-left: 5%">
				  <h1>Lailand</h1>
				</div>
			</div>	
			
			<div class="flex_container">
				<div>
				  <img id="myImg" class="myImg" src="/Assets/Sofa/opus.jpg" alt="Opus" width="500px">
					<!-- The Modal -->
					<div id="myModal" class="modal">
					  <span class="close">&times;</span>
					  <img class="modal-content" id="img01">
					  <div id="caption"></div>
					</div>
				</div>
				<div style="padding-left: 5%">
				  <h1>Opus</h1>
				</div>
			</div>	
			
			<div class="flex_container">
				<div>
				  <img id="myImg" class="myImg" src="/Assets/Sofa/s_pearla.jpg" alt="S Pearla" width="500px">
					<!-- The Modal -->
					<div id="myModal" class="modal">
					  <span class="close">&times;</span>
					  <img class="modal-content" id="img01">
					  <div id="caption"></div>
					</div>
				</div>
				<div  style="padding-left: 5%">
				  <h1>S&nbsp;Pearla</h1>
				</div>
			</div>	
			
			<div class="flex_container">
				<div>
				  <img id="myImg" class="myImg" src="/Assets/Sofa/vertigo.jpg" alt="Vertigo" width="500px">
					<!-- The Modal -->
					<div id="myModal" class="modal">
					  <span class="close">&times;</span>
					  <img class="modal-content" id="img01">
					  <div id="caption"></div>
					</div>
				</div>
				<div style="padding-left: 5%">
				  <h1>Vertigo</h1>
				</div>
			</div>	
			
		</div>
	
		<!--------------- Footer ------------------------->

    <div class="footer">
      <div class="flex_container_footer">
        <div style="widows: 10%;">
          <h1 style="font-family: 'Playfair Display';">Bougainvillea</h1>
        </div>
        <div style="padding: 0% 0% 0% 10%; text-align: justify; width: 50%;" id="footer_nav">
			<a href="#contact" style="float: right;">CONTACT&nbsp;US</a>
			<a href="#produts" style="float: right;">PRODUCTS</a>
			<a href="#portfolio" style="float: right;">PORTFOLIO</a>
			<a href="#about" style="float: right;">ABOUT</a>
			<a href="#home" style="float: right;">HOME</a>
        </div>
        <div style="padding: 0% 0%; position: sticky; width: 30%;" id="footer_icon">
          <a href="http://www.facebook.com" target="_blank" style="padding-top: 5px; padding-right: 5%;"><img src="/Assets/facebook1.png" width="25px" height="25px" style="border-radius: 7px;"></a>
          <a href="http://www.twitter.com" target="_blank" style="padding-top: 5px; padding-right: 5%;"><img src="/Assets/twitter1.png" width="25px" height="25px"></a>
          <a href="http://www.linkedin.com" class="fa fa-linkedin" target="_blank"></a>
		  <a href="http://www.instagram.com" class="fa fa-instagram" target="_blank"></a>
		  <a href="http://www.reddit.com" class="fa fa-reddit" target="_blank"></a>
        </div>
	  </div>
	  <footer id="sticky-footer">
		<div class="container text-center" style="text-align: center;" id="footer_copyright">
		  <b>Copyright &copy; Bougainvillea Interiors </b>
		</div>
	  </footer>
	
    </div>
		
		<!------------------- Javascript for Modal Image -------------------->
		
		<script>
			var modal = document.getElementById("myModal");
			var i;

			var img = document.getElementsByClassName("myImg");
			var modalImg = document.getElementById("img01");
			var captionText = document.getElementById("caption");
			 for(i=0;i< img.length;i++)
			   {    
				img[i].onclick = function(){

				modal.style.display = "block";
				   modalImg.src = this.src;
			captionText.innerHTML = this.alt;
			 }
			}

			var span = document.getElementsByClassName("close")[0];


			span.onclick = function() { 
			   modal.style.display = "none";
			}
		</script>
		
	</body>
</html>